.imgAbout{
    display: flex;
    justify-content: center;
}
.imgAbout1{
    
    display: flex;
    justify-content: center;
}
.imgAbout{
    width: 1216px;
    height: 500px;
}
.AboutSection{

  
}
.AboutContent{
     
    padding:0px 140px ;
}
