.titleContainer{
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}
.divTitle{
    
    width: 1216px;
    padding: 10px 0px;
    
    align-items: center;
    text-align: center;
}
.spanTitle{
    border-top: 1px solid rgba(0, 0, 0, 0.34);
  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
  margin: 0;
  color: #1A1A1A;

  font-family: Inter;
  font-size: 230.8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}